@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-grid {
    background: linear-gradient(145.27deg, #2E2C2C -4.62%, #0B0A0A 64.58%);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 24px rgba(174, 174, 192, 0.3);
    border-radius: 2rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.key-group {
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 1rem;
    background-color: #F0F0F3;
}

button {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 24px rgba(174, 174, 192, 0.3);
    border-radius: 16px;
}

button:hover, button:focus {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 24px rgba(174, 174, 192, 0.5);
}

button:active {
    background-color: rgba(255, 255, 255, .75);
    background: radial-gradient(circle, rgba(240,240,243,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 24px rgba(174, 174, 192, 0.7);
}

button.color-equals:active {
    background-color: #8471F2;
    background: radial-gradient(circle, rgba(132,113,242,1) 0%, rgba(124,106,227,1) 100%);
}

.color-digit {
    color: #2DD3C5;
}

.color-operation {
    color:#745FF2;
}

.color-equals {
    background-color: #8471F2;
    color: #F0F0F3;
}

.text-transform {
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.span-two {
    grid-column: span 2;
}

.output {
    min-height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}